<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BOPPS</title>
    <script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
</head>

<body style="background-color: rgb(241, 230, 216)">

    <h1 style="color: blue">BOPPS</h1>
    <h2 style="color: blue">LEAK ON PRIVATE SUPPLY PIPE - PERMISSION PROFORMA</h2>
    <h3> Please note, any alteration to this document renders this Contract null and void.
    </h3>

    <form name="form1" method="POST" action="/permission/save"></form>
    <label>Name</label>
    <input type="text" name="custname" placeholder="Enter name"></input>
    <p></p>
    <label>Job Address</label>
    <input type="text" name="custaddress" placeholder="Enter address"></input>
    <p></p>
    <label>Phone</label>
    <input type="text" name="custphone" placeholder="Enter phone"></input>
    <p></p>
 

    <label>Owner's Name</label>
    <input type="text" name="ownername" placeholder="Enter owner's name"></input>
    <p></p>
    <label>Owner's Job Address</label>
    <input type="text" name="owneraddress" placeholder="Enter owner's address"></input>
    <p></p>
    <label>Owner's Phone</label>
    <input type="text" name="ownerphone" placeholder="Enter owner's phone"></input>
    <p></p>

    <input type="checkbox"></input>
    <label>I can confirm that I am the owner of the property input above in “Job Address”</label>
    <p></p>
    <input type="checkbox"></input>
    <label>I wish for Severn Trent to repair the leaking pipe supplying my property and hereby authorise access to my
        property. I understand that it may not be possible for Severn Trent to carry out the repair and that it will be
        my responsibility to arrange for the final reinstatement of any excavated surfaces to be carried out at my
        cost”</label>
    <p></p>
    <input type="checkbox"></input>
    <label>I have read the letter and information sheet and agree to the conditions”</label>
    <p></p>

    <label>Date</label>
    <input type="date" name="date" placeholder="Enter date"></input>
    <p></p>




    <td colspan="2"><input type="submit" value="Submit"></td>

    </form>

    <div id="signature-pad" class="signature-pad">
        <div class="signature-pad--body" style="border-color: black">
            <canvas></canvas>
        </div>
        <div class="signature-pad--footer">
            <div class="description">Sign above</div>
            <p></p>
            <div class="signature-pad--actions">
                <div>
                    <button type="button" class="button clear" data-action="clear" onclick="signaturePad.clear()">Clear</button>
                </div>
                <div>
                    <button type="button" class="button save" data-action="save-png">Save as PNG</button>
                    <button type="button" class="button save" data-action="save-jpg">Save as JPG</button>
                    <button type="button" class="button save" data-action="save-svg">Save as SVG</button>
                </div>
            </div>
        </div>
    </div>
    <p></p>
    <button display="sig">Submit Form</button>

    <!-- 1 -->
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

    <!-- 2 -->
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

    <div id='timeline-embed' style="width: 100%; height: 600px"></div>

    <!-- 3 -->
    <script type="text/javascript">
        // The TL.Timeline constructor takes at least two arguments:
        // the id of the Timeline container (no '#'), and
        // the URL to your JSON data file or Google spreadsheet.
        // the id must refer to an element "above" this code,
        // and the element must have CSS styling to give it width and height
        // optionally, a third argument with configuration options can be passed.
        // See below for more about options.

        // timeline = new TL.Timeline('timeline-embed',
        //     'https://docs.google.com/spreadsheets/d/1cWqQBZCkX9GpzFtxCWHoqFXCHg-ylTVUWlnrdYMzKUI/pubhtml');


        // resizeCanvas();
        sig = false;
        var canvas = document.querySelector("canvas");

        var signaturePad = new SignaturePad(canvas);
        signaturePad.minWidth = 1;
        signaturePad.maxWidth = 2;
        signaturePad.penColor = "rgb(0, 0, 0)";
        signaturePad.onEnd = signatureAdded();

        // Returns signature image as data URL (see https://mdn.io/todataurl for the list of possible parameters)
        signaturePad.toDataURL(); // save image as PNG
        signaturePad.toDataURL("image/jpeg"); // save image as JPEG
        signaturePad.toDataURL("image/svg+xml"); // save image as SVG

        // Draws signature image from data URL.
        // NOTE: This method does not populate internal data structure that represents drawn signature. Thus, after using #fromDataURL, #toData won't work properly.
        signaturePad.fromDataURL("data:image/png;base64,iVBORw0K...");

        // Returns signature image as an array of point groups
        const data = signaturePad.toData();

        // Draws signature image from an array of point groups
        signaturePad.fromData(data);

        // Clears the canvas
        signaturePad.clear();

        // Returns true if canvas is empty, otherwise returns false
        signaturePad.isEmpty();

        // Unbinds all event handlers
        signaturePad.off();

        // Rebinds all event handlers
        signaturePad.on();

        function signatureAdded() {
            sig = true;
        }
    </script>

    <h2>Loop</h2>

    <ul>
        <% recs.forEach(function(rec) { %>
        <li>
            <%= rec.name, rec.address %> -
            <%= rec.address %>
        </li>
        <% }); %>
    </ul>

</body>

</html>